* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* header  & banneer section styles */
.header {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section {
    height: 100vh;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: right;
    align-items: center;
}

.banner-description {
    width: 380px;
    padding: 35px;
    margin-right: 50px;

}

.banner-title {

    font-weight: 700;
    font-size: 65px;
    color: #151414;

}

.banner-blogs {

    font-weight: 400;
    font-size: 20px;
    margin-top: 23px;
    color: #444343;

}

.btn-style {
    font-weight: 600px;
    font-size: 20px;
    width: 160px;
    height: 64px;
    padding: 18px 20px;
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    background-color: #F15B22;
    color: #FFFFFF;
}

/* main section styling */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.motivation-part {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-img {
    /* background-image: url('../images/gradient2.png'),
        linear-gradient(rgba(192, 37, 37, 0.418), rgba(145, 18, 18, 0.5));
    background-blend-mode: overlay; */

}

.motivation {
    padding: 80px;

}

.title {
    font-weight: 700;
    font-size: 45px;
    color: #151414;
}

.sub-title {
    font-weight: 400;
    font-size: 25px;
    margin-top: 24px;
    color: #444343;
    margin-bottom: 16px;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
    color: aqua;
    margin-right: 10px;
}

.some-motivation-point {
    font-weight: 400;
    font-size: 20px;
    color: #444343;
}

/* skills-section styling */
.plan {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-top:135px;
    margin-bottom: 100px;

}

.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}

.i-will-do {
    color: #737272;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

.skill-title {
    font-weight: 700;
    font-size: 35px;
    color: #151414;
    margin-top: 25px;
    margin-bottom: 16px;
}

/* contact section styling */
.be-positive {
    width: 460px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    padding: 35px;
    color: #FFFFFF;

}

.contact-btn {
    padding: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    font-size: 20px;
    color: #005FAC;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-left: 35px;
    margin-bottom: 35px;

}

.contact-section {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    /* background-blend-mode:overlay; */
    border-radius: 8px;
    margin-bottom: 50px;
}

/* footer setion */
.footer-head {
    
    width: 100%;
    height: 100vh; 
    background: #151414;
    margin-top: 135px;
}

.footer-section {
     display: flex;
     width: 100%;
     height: 100vh;
     justify-content: space-around;
     align-items: center;
     margin: 0 auto;
     margin-top: 130px;


}


.fb-twiter-youtube {
    display: flex;
    margin-top: 60px;
    margin-right: 30px;
}

.footer-Title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    width: 148px;
    height: 53px;
}

.footer-color {
    color: #FFFFFF;
}

.footer-blogs {
    width: 485px;
    height: 78px;
    font-weight: 400;
    margin-top: 18px;
    font-size: 16px;

}

.info-mail {
    margin-bottom: 24px;
}

.info-phone {
    margin-top: 16px;
}

.info-mail-phone {
    width: 400px;
    font-size: 16px;
    height: 25px;
    font-weight: 400px;
}
.icon{
   padding-right:16px;
}
.footer-section-info{
    margin-left: 30px;
}
.form-title {
    margin-bottom: 35px;
    width: 123px;
    height: 29px font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 18px;

}

.email-adj {
    width: 240px;
    height: 50px;
    padding-left: 18px;
    margin-bottom: 24px;
    color: #F3F3F3;
    background-color: white;
    border-radius: 8px;
    border: none;
}

.btn-subscribe {
    padding: 20px;
    width: 130px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    background-color: blue;
    border: none;
}